*{
	margin: 0;
	padding: 0;
    font-family: "Parkinsans", sans-serif;
}
.header{
	min-height: 100vh;
	width:100%;
	background-image: linear-gradient(rgba(4,9,30,0),rgba(4,9,30,0)),url(background.png
		);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 130px;
    height: 40px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a{
    color: #E75719;
    text-decoration: none;
    font-size: 13;
}

.nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: auto;
}

.text-box{
    width: 90%;
    color: #E75719;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 52px;
}

.text-box p{
    margin:10px 0 40px;
    font-size: 17px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    padding: 12px 32px;
    font-size: 13px;
    background: #E75719;
    background: transparent;
    border: 1px solid #E75719;
    color: #E75719;
    position:relative;
}

.hero-btn:hover{
    border: 1px solid #E75719;
    background: #E75719;
    color: #E4D1CC;
    transition: 1s;
}

nav .fa-solid{
    display:none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        color: #fff;
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right:0;
        text-align:left;
        z-index: 2;
    }
    .nav-links ul li a{
        color: #E4D1CC;
    }
    nav .fa-solid{
        display: block;
    }
}